# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [2]:
# your code here
import pandas as pd
import numpy as np
import mysql.connector
import getpass

#### 2. Use the `apple_store.sql` file to create a new database in mySQL workbench with that data. Once loaded, try to answer the following questions using mySQL workbench:

 - How many apps are there in the data source?
 - What is the average rating of all apps?
 - How many apps have an average rating no less than 4?
 - How many genres are there in total for all the apps?
 - Which genre is most likely to contain free apps?

In [ ]:
# your answers here
#7195
#3.526955675976101
#4781
#23
#2257

In [3]:
saved_password = getpass.getpass()

In [4]:
cnx = mysql.connector.connect(user = 'root',password = saved_password, host ='localhost', database = 'pandas_deep_dive')

In [5]:
cnx.is_connected()

True

In [7]:
cursor = cnx.cursor()
query = ('SELECT * FROM pandas_deep_dive.apple_store')
cursor.execute(query)
results = cursor.fetchall()

#### 3. Create a SQL connection in this notebook and load the `apple_store` dataset. Assign it to a variable called `data`, which would be a pandas dataframe.

In [57]:
# your code here
data = pd.DataFrame(results)
data

,0,1,2,3,4,5,6,7,8
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4,4.5,Games
1,281796108,Evernote - stay organized,158578688,0,161065,26,4,3.5,Productivity
2,281940292,"""WeatherBug - Local Weather, Radar, Maps, Alerts""",100524032,0,188583,2822,3.5,4.5,Weather
3,282614216,"""eBay: Best App to Buy, Sell, Save! Online Sho...",128512000,0,262241,649,4,4.5,Shopping
4,282935706,Bible,92774400,0,985920,5320,4.5,5,Reference
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0,3,3,5,5,Games

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [12]:
# your code here
data.head(5)

,0,1,2,3,4,5,6,7,8
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4,4.5,Games
1,281796108,Evernote - stay organized,158578688,0,161065,26,4,3.5,Productivity
2,281940292,"""WeatherBug - Local Weather, Radar, Maps, Alerts""",100524032,0,188583,2822,3.5,4.5,Weather
3,282614216,"""eBay: Best App to Buy, Sell, Save! Online Sho...",128512000,0,262241,649,4,4.5,Shopping
4,282935706,Bible,92774400,0,985920,5320,4.5,5,Reference

#### 5. Print the summary of the data.

In [14]:
# your code here
data.describe()

,0,1,2,3,4,5,6,7,8
count,7197,7197,7197,7197,7197,7197,7197,7197,7197
unique,7197,7195,7107,36,3185,1138,10,10,23
top,281656475,VR Roller Coaster,31624192,0,0,0,4.5,4.5,Games
freq,1,2,3,4056,929,1443,2663,2205,3862

In [54]:
data.reset_index()

,index,0,1,2,3,4,5,6,7,8
0,0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4,4.5,Games
1,1,281796108,Evernote - stay organized,158578688,0,161065,26,4,3.5,Productivity
2,2,281940292,"""WeatherBug - Local Weather, Radar, Maps, Alerts""",100524032,0,188583,2822,3.5,4.5,Weather
3,3,282614216,"""eBay: Best App to Buy, Sell, Save! Online Sho...",128512000,0,262241,649,4,4.5,Shopping
4,4,282935706,Bible,92774400,0,985920,5320,4.5,5,Reference
...,...,...,...,...,...,...,...,...,...,...
7192,7192,1187617475,Kubik,126644224,0,142,75,4.5,4.5,Games
7193,7193,1187682390,VR Roller-Coaster,120760320,0,30,30,4.5,4.5,Games
7194,7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0,Utilities
7195,7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0,85,32,4.5,4.5,Games
7196,7196,1188375727,Escape the Sweet Shop Series,90898432,0,3,3,5,5,Games

#### 6. Print the number of columns in the data.

In [18]:
# your code here
data.shape

(7197, 9)

#### 7. Print all column names.

In [62]:
mapping = {data.columns[0]:'id', data.columns[1]: 'track_name', data.columns[2]:'size_bytes', data.columns[3]: 'price',data.columns[4]:'rating_count_tot', data.columns[5]: 'rating_count_ver',data.columns[6]:'user_rating', data.columns[7]: 'user_rating_ver',data.columns[8]:'prime_genre'}
data = data.rename(columns=mapping)

In [70]:
data.columns

Index(['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot',
       'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre'],
      dtype='object')

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [50]:
# your code here
num_observations = data.shape[0]
num_observations

7197

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [65]:
# your code here
user_rating = data['user_rating'].astype(float)

3.526955675976101

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [66]:
# your code here
average_rating = user_rating.mean()
average_rating

3.526955675976101

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [74]:
# your code here
data['user_rating'] = pd.to_numeric(data['user_rating'], errors='coerce')
user_rating_high = data[data['user_rating'] >= 4]

Now obtain the length of `user_rating_high` which should return 4781.

In [75]:
# your code here
len(user_rating_high)

4781

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [79]:
# your code here
genres = data['prime_genre'].unique()

Print the length of the unique values of `genres`. Your code should return 23.

In [80]:
# your code here
len(genres)

23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [81]:
# your code here
top_genres = data['prime_genre'].value_counts().head(3)
top_genres

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [94]:
# your code here
free_apps = data[data['price'] == 0]
genre_counts = free_apps['prime_genre'].value_counts()

genre_counts

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [96]:
# your code here
genre_proportions = (genre_counts / len(free_apps))
genre_proportions

Games                0.556460
Entertainment        0.082347
Photo & Video        0.041174
Social Networking    0.035256
Education            0.032544
Shopping             0.029832
Utilities            0.026874
Lifestyle            0.023176
Finance              0.020710
Sports               0.019477
Health & Fitness     0.018738
Music                0.016519
Book                 0.016272
Productivity         0.015286
News                 0.014300
Travel               0.013807
Food & Drink         0.010602
Weather              0.007643
Business             0.004931
Reference            0.004931
Navigation           0.004931
Catalogs             0.002219
Medical              0.001972
Name: prime_genre, dtype: float64

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [101]:
# your code here
genre_avg_price = data.groupby('prime_genre')['price'].mean().sort_values(ascending = False)
genre_avg_price
#Medical would be at the top of making money from apps if we assume it costs the same amount of time and expense

prime_genre
Medical              8.776087
Business             5.116316
Reference            4.836875
Music                4.835435
Productivity         4.330562
Navigation           4.124783
Education            4.028234
Health & Fitness     1.916444
Book                 1.790536
Utilities            1.647621
Weather              1.605417
Food & Drink         1.552381
Photo & Video        1.473295
Games                1.432923
Travel               1.120370
Sports               0.953070
Entertainment        0.889701
Lifestyle            0.885417
Catalogs             0.799000
News                 0.517733
Finance              0.421154
Social Networking    0.339880
Shopping             0.016311
Name: price, dtype: float64

# Challenge - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [ ]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the head() function.

In [ ]:
# Your code here:

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [ ]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # Your code here:

Apply this function to the columns Iws, Is, and Ir. Store this new dataframe in the variable pm25_hourly.

In [ ]:
# Your code here:

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [ ]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series, minus 1 
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here: