# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [1]:
import pandas as pd
import numpy as np

#### 2. Use the `apple_store.sql` file to create a new database in mySQL workbench with that data. Once loaded, try to answer the following questions using mySQL workbench:

 - How many apps are there in the data source?
 - What is the average rating of all apps?
 - How many apps have an average rating no less than 4?
 - How many genres are there in total for all the apps?
 - Which genre is most likely to contain free apps?

In [2]:
# FYI: I used applestore2.sql as my main data. Apple_store.sql didn't work

1. Solution: there are 7142 apps
2. Solution: 3.52835 is the average rating of all apps
3. Solution: 4743 apps have at least a 4 stars rating
4. Solution: There are 23 different genres
5. Solution: Games is the genre with most free apps

#### 3. Create a SQL connection in this notebook and load the `apple_store` dataset. Assign it to a variable called `data`, which would be a pandas dataframe.

In [3]:
import mysql.connector

In [4]:
import getpass

In [5]:
saved_password = getpass.getpass()

········

In [6]:
cnx = mysql.connector.connect(user = 'root',
                        password = saved_password,
                        host = 'localhost')

In [7]:
import pymysql

In [8]:
connection = pymysql.connect(host = 'localhost',
                         user = 'root',
                         password = saved_password,
                         db = 'apple_store')

In [9]:
cursor=connection.cursor()

In [10]:
# import the module
from sqlalchemy import create_engine

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=saved_password,
                               db="apple_store"))

In [11]:
cnx.is_connected()

True

In [12]:
# cursor

cursor = cnx.cursor()

In [13]:
query = ('''SELECT *
         FROM apple_store.applestore2;''')

In [14]:
cursor.execute(query)

In [15]:
apple_store_results = cursor.fetchall()

# with a loop 

cols = []

for sub_list in cursor.description:
    cols.append(sub_list[0])

In [16]:
# same thing in list comprenhension

cols_names = [sublist[0] for sublist in cursor.description]

In [17]:
cols_names

['Column1',
 'id',
 'track_name',
 'size_bytes',
 'currency',
 'price',
 'rating_count_tot',
 'rating_count_ver',
 'user_rating',
 'user_rating_ver',
 'ver',
 'cont_rating',
 'prime_genre',
 'sup_devices.num',
 'ipadSc_urls.num',
 'lang.num',
 'vpp_lic',
 'price_0']

In [18]:
data = pd.DataFrame(apple_store_results, columns=cols_names)

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [28]:
data.head()

,Column1,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic,price_0
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4,Games,38,5,10,1,0
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4,Productivity,37,5,23,1,0
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4,Weather,37,5,3,1,0
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12,Shopping,37,5,9,1,0
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4,Reference,37,5,45,1,0

#### 5. Print the summary of the data.

In [20]:
data.describe()

,Column1,id,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,cont_rating,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic,price_0
count,7142.000000,7.142000e+03,7.142000e+03,7142.000000,7.142000e+03,7142.000000,7142.000000,7142.000000,7142.000000,7142.000000,7142.000000,7142.000000,7142.000000,7142.0
mean,4753.404929,8.624960e+08,1.787586e+08,1.681892,1.295733e+04,460.583870,3.528353,3.253850,7.069308,37.377625,3.705825,5.445113,0.994119,0.0
std,3094.105020,2.716613e+08,2.705268e+08,5.812375,7.602208e+04,3933.670082,1.516261,1.809715,4.323605,3.698226,1.985839,7.938480,0.076465,0.0
min,1.000000,2.816565e+08,5.898240e+05,0.000000,0.000000e+00,0.000000,0.000000,0.000000,4.000000,9.000000,0.000000,0.000000,0.000000,0.0
25%,2079.250000,5.994562e+08,4.637466e+07,0.000000,2.700000e+01,1.000000,3.500000,2.500000,4.000000,37.000000,3.000000,1.000000,1.000000,0.0
50%,4379.500000,9.780566e+08,9.621504e+07,0.000000,2.990000e+02,22.000000,4.000000,4.000000,4.000000,37.000000,5.000000,1.000000,1.000000,0.0
75%,7216.750000,1.082131e+09,1.784870e+08,1.990000,2.796750e+03,139.000000,4.500000,4.500000,9.000000,38.000000,5.000000,8.000000,1.000000,0.0
max,11097.000000,1.188376e+09,2.116109e+09,299.990000,2.974676e+06,177050.000000,5.000000,5.000000,17.000000,47.000000,5.000000,75.000000,1.000000,0.0

#### 6. Print the number of columns in the data.

In [21]:
data.shape

(7142, 18)

#### 7. Print all column names.

In [22]:
data.columns

Index(['Column1', 'id', 'track_name', 'size_bytes', 'currency', 'price',
       'rating_count_tot', 'rating_count_ver', 'user_rating',
       'user_rating_ver', 'ver', 'cont_rating', 'prime_genre',
       'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic', 'price_0'],
      dtype='object')

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [23]:
data.shape[0]

7142

In [24]:
len(data['id'].unique())

7142

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [25]:
user_rating = data['user_rating']

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [27]:
data.dtypes

Column1               int64
id                    int64
track_name           object
size_bytes            int64
currency             object
price               float64
rating_count_tot      int64
rating_count_ver      int64
user_rating         float64
user_rating_ver     float64
ver                  object
cont_rating           int64
prime_genre          object
sup_devices.num       int64
ipadSc_urls.num       int64
lang.num              int64
vpp_lic               int64
price_0               int64
dtype: object

In [29]:
data = data.astype({
    'id':'int64',
    'size_bytes': 'int64',
    'price': 'float64',
    'rating_count_tot':'int64',
    'rating_count_ver':'int64',
    'user_rating_ver':'float64'
})

In [30]:
user_rating.mean()

3.528353402408289

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [32]:
user_rating_high = data[data['user_rating']>=4]
user_rating_high

,Column1,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic,price_0
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4,Games,38,5,10,1,0
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4,Productivity,37,5,23,1,0
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12,Shopping,37,5,9,1,0
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4,Reference,37,5,45,1,0
5,6,283619399,Shanghai Mahjong,10485713,USD,0.99,8253,5516,4.0,4.0,1.8,4,Games,47,5,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7137,11081,1187617475,Kubik,126644224,USD,0.00,142,75,4.5,4.5,1.3,4,Games,38,5,1,1,0
7138,11082,1187682390,VR Roller-Coaster,120760320,USD,0.00,30,30,4.5,4.5,0.9,4,Games,38,0,1,1,0
7139,11087,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,USD,1.99,15,0,4.5,0.0,1.0.2,9,Utilities,37,1,1,1,0
7140,11089,1187838770,VR Roller Coaster World - Virtual Reality,97235968,USD,0.00,85,32,4.5,4.5,1.0.15,12,Games,38,0,2,1,0
7141,11097,1188375727,Escape the Sweet Shop Series,90898432,USD,0.00,3,3,5.0,5.0,1.0,4,Games,40,0,2,1,0

Now obtain the length of `user_rating_high` which should return 4781.

In [33]:
len(user_rating_high)

4743

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

Print the length of the unique values of `genres`. Your code should return 23.

In [35]:
len(data['prime_genre'].unique())

23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [31]:
data['prime_genre'].value_counts().nlargest(3)

Games            3808
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [34]:
free_apps = data[data['price']==0]
free_apps['prime_genre'].value_counts()

Games                2250
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [41]:
free_apps = (
    (free_apps.prime_genre.value_counts() / data.prime_genre.value_counts())
    .sort_values(ascending = False)
)

free_apps

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.594595
Games                0.590861
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [42]:
(data.groupby('prime_genre')
.agg({'price':'mean'})
.sort_values(by='price',ascending=False)
)

                      price
prime_genre
Medical            8.776087
Business           5.116316
Reference          4.836875
Music              4.835435
Productivity       4.330562
Navigation         4.124783
Education          4.028234
Health & Fitness   1.916444
Utilities          1.647621
Weather            1.605417
Book               1.554505
Food & Drink       1.552381
Photo & Video      1.473295
Games              1.352526
Travel             1.120370
Sports             0.953070
Entertainment      0.889701
Lifestyle          0.885417
Catalogs           0.799000
News               0.517733
Finance            0.421154
Social Networking  0.339880
Shopping           0.016311

# Challenge - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [36]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the head() function.

In [37]:
pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [39]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    return x / 24

In [40]:
hourly(48)

2.0

Apply this function to the columns Iws, Is, and Ir. Store this new dataframe in the variable pm25_hourly.

In [46]:
pm25_hourly = pm25[['Iws','Is','Ir']].apply(hourly,axis=0)

In [47]:
pm25_hourly

             Iws   Is   Ir
0       0.074583  0.0  0.0
1       0.205000  0.0  0.0
2       0.279583  0.0  0.0
3       0.410000  0.0  0.0
4       0.540417  0.0  0.0
...          ...  ...  ...
43819   9.665417  0.0  0.0
43820   9.907500  0.0  0.0
43821  10.112500  0.0  0.0
43822  10.280000  0.0  0.0
43823  10.410417  0.0  0.0

[43824 rows x 3 columns]

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [48]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series, minus 1 
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    numerator = np.std(x)
    denominator = (x.count()-1)
    
    return numerator/denominator

In [49]:
sample_sd(pd.Series([1,2,3,4]))

0.37267799624996495

In [50]:
pm25_var = pm25[['Iws','Is','Ir']].apply(sample_sd,axis=0)

In [52]:
pd.DataFrame(pm25_var).reset_index()

  index         0
0   Iws  0.001141
1    Is  0.000017
2    Ir  0.000032