# Pandas Deep-Dive

#### 1. Import Pandas package under the alias pd and Numpy under the alias np.

In [1]:
# Libraries
import pandas as pd
import numpy as np

#### 2. Use the `apple_store.sql` file to create a new database in mySQL workbench with that data. Once loaded, try to answer the following questions using mySQL workbench:

 - How many apps are there in the data source?
 - What is the average rating of all apps?
 - How many apps have an average rating no less than 4?
 - How many genres are there in total for all the apps?
 - Which genre is most likely to contain free apps?

In [2]:
'''
1. How many apps are there in the data source? 

SQL Code: SELECT COUNT(*) AS total_apps FROM apple_store;
Answer:7197


2.What is the average rating of all apps? 

SQL Code: AVG(rating_count_tot) AS average_rating FROM apple_store;
Answer: 12892.9072


3. How many apps have an average rating no less than 4?

SQL Code: SELECT COUNT(*) AS high_rating_apps FROM apple_store WHERE rating_count_tot >= 4;
Answer:6080


4. How many genres are there in total for all the apps?
SQL Code: SELECT COUNT(DISTINCT prime_genre) AS total_genres FROM apple_store;
Answer: 23


5. Which genre is most likely to contain free apps?
SQL Code: SELECT prime_genre FROM apple_store WHERE price = 0 GROUP BY prime_genre ORDER BY COUNT(*) DESC LIMIT 1;
Answer: Games

'''

'\n1. How many apps are there in the data source? \n\nSQL Code: SELECT COUNT(*) AS total_apps FROM apple_store;\nAnswer:7197\n\n\n2.What is the average rating of all apps? \n\nSQL Code: AVG(rating_count_tot) AS average_rating FROM apple_store;\nAnswer: 12892.9072\n\n\n3. How many apps have an average rating no less than 4?\n\nSQL Code: SELECT COUNT(*) AS high_rating_apps FROM apple_store WHERE rating_count_tot >= 4;\nAnswer:6080\n\n\n4. How many genres are there in total for all the apps?\nSQL Code: SELECT COUNT(DISTINCT prime_genre) AS total_genres FROM apple_store;\nAnswer: 23\n\n\n5. Which genre is most likely to contain free apps?\nSQL Code: SELECT prime_genre FROM apple_store WHERE price = 0 GROUP BY prime_genre ORDER BY COUNT(*) DESC LIMIT 1;\nAnswer: Games\n\n'

#### 3. Create a SQL connection in this notebook and load the `apple_store` dataset. Assign it to a variable called `data`, which would be a pandas dataframe.

In [38]:
import mysql.connector
import getpass

saved_password = getpass.getpass()

········

In [45]:
# open the door between python and my databases

cnx = mysql.connector.connect(user = 'root',password = saved_password, host ='localhost', database = 'applestore')

In [46]:
# check if the connection was successful

cnx.is_connected()

True

In [47]:
cursor = cnx.cursor()
query = ("SELECT * FROM applestore.apple_store;")
# execute the query
cursor.execute(query)
results = cursor.fetchall()

In [48]:
# Load dataset into Pandas dataframe
data = pd.read_sql(query, con=cnx)

# Display the dataframe
print(data.head())

          id                                         track_name size_bytes  \
0  281656475                                    PAC-MAN Premium  100788224
1  281796108                          Evernote - stay organized  158578688
2  281940292  "WeatherBug - Local Weather, Radar, Maps, Alerts"  100524032
3  282614216  "eBay: Best App to Buy, Sell, Save! Online Sho...  128512000
4  282935706                                              Bible   92774400

  price rating_count_tot rating_count_ver user_rating user_rating_ver  \
0  3.99            21292               26           4             4.5
1     0           161065               26           4             3.5
2     0           188583             2822         3.5             4.5
3     0           262241              649           4             4.5
4     0           985920             5320         4.5               5

    prime_genre
0         Games
1  Productivity
2       Weather
3      Shopping
4     Reference

C:\Users\jardi\AppData\Local\Temp\ipykernel_15464\77900153.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, con=cnx)

In [49]:
# Close the SQL connection
cnx.close()

#### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [51]:
print(data.head())

          id                                         track_name size_bytes  \
0  281656475                                    PAC-MAN Premium  100788224
1  281796108                          Evernote - stay organized  158578688
2  281940292  "WeatherBug - Local Weather, Radar, Maps, Alerts"  100524032
3  282614216  "eBay: Best App to Buy, Sell, Save! Online Sho...  128512000
4  282935706                                              Bible   92774400

  price rating_count_tot rating_count_ver user_rating user_rating_ver  \
0  3.99            21292               26           4             4.5
1     0           161065               26           4             3.5
2     0           188583             2822         3.5             4.5
3     0           262241              649           4             4.5
4     0           985920             5320         4.5               5

    prime_genre
0         Games
1  Productivity
2       Weather
3      Shopping
4     Reference

#### 5. Print the summary of the data.

In [56]:
print(data.describe())

               id         track_name size_bytes price rating_count_tot  \
count        7197               7197       7197  7197             7197
unique       7197               7195       7107    36             3185
top     281656475  VR Roller Coaster   31624192     0                0
freq            1                  2          3  4056              929

       rating_count_ver user_rating user_rating_ver prime_genre
count              7197        7197            7197        7197
unique             1138          10              10          23
top                   0         4.5             4.5       Games
freq               1443        2663            2205        3862

#### 6. Print the number of columns in the data.

In [53]:
print("Number of columns:", data.shape[1])

Number of columns: 9

#### 7. Print all column names.

In [54]:
print("Column names:", data.columns)

Column names: Index(['id', 'track_name', 'size_bytes', 'price', 'rating_count_tot',
       'rating_count_ver', 'user_rating', 'user_rating_ver', 'prime_genre'],
      dtype='object')

#### 8.- Now that we have a general understanding of the data, we'll start working on the challenge questions. How many apps are there in the data source? Print the number of observations of the data.

**Hint**: Your code should return the number 7197.

In [55]:
num_apps = len(data)
print("Number of apps:", num_apps)

Number of apps: 7197

#### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [60]:
data['user_rating'] = data['user_rating'].astype(float)
user_rating = data['user_rating']

Now you can calculate the average of the `user_rating` data.

**Hint**: Your code should return 3.526955675976101.

In [61]:
average_rating = user_rating.mean()
print("Average rating of all apps:", average_rating)

Average rating of all apps: 3.526955675976101

#### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [62]:
user_rating_high = data[data['user_rating'] >= 4]

Now obtain the length of `user_rating_high` which should return 4781.

In [63]:
num_apps_high_rating = len(user_rating_high)
print("Number of apps with an average rating of at least 4:", num_apps_high_rating)

Number of apps with an average rating of at least 4: 4781

#### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [64]:
genres = data['prime_genre'].unique()

Print the length of the unique values of `genres`. Your code should return 23.

In [65]:
num_genres = len(genres)
print("Total number of genres:", num_genres)

Total number of genres: 23

#### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [66]:
top_genres = data['prime_genre'].value_counts().head(3)
print(top_genres)

Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64

#### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [74]:
data['price'] = data['price'].astype(float)  # Convert 'price' column to float

free_apps = data[data['price'] == 0.00]
genre_counts = free_apps['prime_genre'].value_counts()
print(genre_counts)

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Business               20
Reference              20
Navigation             20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64

#### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [76]:
genre_proportions = genre_counts / data['prime_genre'].value_counts().loc[genre_counts.index]
genre_proportions = genre_proportions.sort_values(ascending=False)
print(genre_proportions)

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

#### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [77]:
average_price = data.groupby('prime_genre')['price'].mean().reset_index()
average_price = average_price.sort_values('price', ascending=False)
print(average_price)

          prime_genre     price
10            Medical  8.776087
1            Business  5.116316
16          Reference  4.836875
11              Music  4.835435
15       Productivity  4.330562
12         Navigation  4.124783
3           Education  4.028234
8    Health & Fitness  1.916444
0                Book  1.790536
21          Utilities  1.647621
22            Weather  1.605417
6        Food & Drink  1.552381
14      Photo & Video  1.473295
7               Games  1.432923
20             Travel  1.120370
19             Sports  0.953070
4       Entertainment  0.889701
9           Lifestyle  0.885417
2            Catalogs  0.799000
13               News  0.517733
5             Finance  0.421154
18  Social Networking  0.339880
17           Shopping  0.016311

# Challenge - Applying Functions to DataFrames

#### Our next step is to use the apply function to a dataframe and transform all cells.

To do this, we will load a dataset below and then write a function that will perform the transformation.

In [78]:
# Run this code:

# The dataset below contains information about pollution from PM2.5 particles in Beijing 

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00381/PRSA_data_2010.1.1-2014.12.31.csv"
pm25 = pd.read_csv(url)

Let's look at the data using the head() function.

In [79]:
pm25.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

The next step is to create a function that divides a cell by 24 to produce an hourly figure. Write the function below.

In [80]:
def hourly(x):
    '''
    Input: A numerical value
    Output: The value divided by 24
        
    Example:
    Input: 48
    Output: 2.0
    '''
    
    # Your code here:
    return x/24

Apply this function to the columns Iws, Is, and Ir. Store this new dataframe in the variable pm25_hourly.

In [85]:
pm25_hourly = pm25.head()[['Iws', 'Is', 'Ir']].apply(hourly)

In [86]:
pm25_hourly

        Iws   Is   Ir
0  0.074583  0.0  0.0
1  0.205000  0.0  0.0
2  0.279583  0.0  0.0
3  0.410000  0.0  0.0
4  0.540417  0.0  0.0

#### Our last challenge will be to create an aggregate function and apply it to a select group of columns in our dataframe.

Write a function that returns the standard deviation of a column divided by the length of a column minus 1. Since we are using pandas, do not use the `len()` function. One alternative is to use `count()`. Also, use the numpy version of standard deviation.

In [87]:
def sample_sd(x):
    '''
    Input: A Pandas series of values
    Output: the standard deviation divided by the number of elements in the series, minus 1 
        
    Example:
    Input: pd.Series([1,2,3,4])
    Output: 0.3726779962
    '''
    
    # Your code here:
    n = x.count()
    std = np.std(x)
    return std / (n - 1)